* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
html {
  scroll-behavior: smooth;
}

/* css thanh cuộn */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 20px;
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;

  background-color: #4f7c75;
}

.wrap .background {
  width: 100%;
  position: fixed;
  z-index: -100;
}

/* heading */
/* ----------------------------------- */

/* ---header heading--- */
/* logo */
.heading {
  background-color: #33333300;
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.heading header {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading .logo {
  background-image: url(https://i.pinimg.com/736x/08/87/4a/08874aa2406f0be638bfb46103a54738.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  width: 7em;
  height: 35px;
}

/* parts */
.heading .parts {
  margin: 0 100px 0 auto;
  display: flex;
  gap: 50px;
}

.heading .parts a {
  height: 20px;
  font-size: 1rem;
  font-family: "Quattrocento", serif;
  color: #fff;
  text-decoration: none;
  position: relative;
}

.heading .parts a::after {
  background-color: #ffffff;
  content: "";
  width: 0;
  height: 2px;
  border-radius: 10px;
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: width 0.3s ease-in-out;
  transform: translate(-50%, 0%);
  left: 50%;
  display: block;
}

.heading .parts a:hover::after {
  width: 100%;
}

/* ---intro--- */
.intro {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.intro h1 {
  color: #fff;
  font-family: "Quattrocento", serif;
  font-size: 5rem;
  font-weight: 700;
  width: 40%;
  padding: 30px 20px 0;
  display: flex;
  align-items: top;
  text-align: center;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.419);
  line-height: 100px;
  position: relative;
  top: 30px;
}

.intro img {
  width: 60%;
  padding: 0 20px;
}

/* plot */
/* ----------------------------------- */

.plot {
  background-color: #333;
  width: 100%;
  padding: 50px;
  margin: 0 auto;
  text-align: justify;
}

.plot .illustration {
  width: 40%;
  margin: 20px 20px 0;
  float: right;
  display: block;
  object-fit: cover;
  overflow: hidden;
}
.plot .illustration img {
  width: 100%;
  transition: transform 0.3s ease;
}
.plot .illustration:hover img {
  transform: scale(1.1);
}

.plot .info {
  width: 70%;
  padding: 30px 0;
  margin: 0 auto;
}

.plot .info h2 {
  text-align: center;
  color: #fff;
  font-family: "Quattrocento", serif;
  font-size: 3rem;
  margin-bottom: 30px;
  text-shadow: 0 0 5px white;
}
.plot .info .info-film {
  color: #fff;
  font-family: "Quattrocento", serif;
  font-size: 1rem;
  text-indent: 20px;
  line-height: 40px;
  text-shadow: 0 0 1px white;
  margin-bottom: 20px;
}

/*main characters */
/* ----------------------------------- */
.main-characters {
  padding: 50px;
}

.main-characters h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  font-family: "Quattrocento", serif;
  font-size: 3rem;
  text-shadow: 0 0 20px rgb(0, 0, 0);
}

.characters {
  width: 70%;
  padding: 30px 50px;
  margin: 0 auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1000px);
  grid-template-rows: 1fr;
  overflow-x: scroll;
  scrollbar-width: unset;
}

.characters .tanjiro,
.characters .zenitsu,
.characters .inosuke,
.characters .nezuko {
  background-color: #333333a7;
  border-radius: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}

.characters .tanjiro:hover,
.characters .zenitsu:hover,
.characters .inosuke:hover,
.characters .nezuko:hover {
  text-shadow: 0 0 20px rgb(255, 255, 255);
  background-color: #333333cf;
}
.characters .tanjiro .info-tanjiro,
.characters .zenitsu .info-zenitsu,
.characters .inosuke .info-inosuke,
.characters .nezuko .info-nezuko {
  color: #fff;
  font-family: "Quattrocento", serif;
  font-size: 20px;
  text-align: left;
  line-height: 40px;
  text-shadow: 0 0 2px rgb(255, 255, 255);
  margin-left: 20px;
}
.para {
  text-indent: 30px;
}

.characters .tanjiro img,
.characters .zenitsu img,
.characters .inosuke img,
.characters .nezuko img {
  width: 20vw;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  transform-origin: bottom left;
  object-fit: fill;
}

.characters .tanjiro:hover img,
.characters .zenitsu:hover img,
.characters .inosuke:hover img,
.characters .nezuko:hover img {
  transform: rotate(-1deg);
}

/*stages */
/* ----------------------------------- */
.stages {
  width: 1005;
  background-color: #333;
  padding: 50px;
}
