* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  font-family: "Quattrocento", serif;
  scroll-behavior: smooth;
  position: relative;
}

.para {
  text-indent: 50px;
}

@keyframes light {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.back-home {
  background: radial-gradient(
    circle,
    rgba(160, 160, 160, 0) 0%,
    rgba(51, 51, 51, 1) 50%,
    rgba(51, 51, 51, 0) 100%
  );
  color: #ffffff;
  width: 30px;
  height: 30px;
  padding: 20px;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 0 20px rgb(255, 255, 255);
  animation: light 1s infinite alternate ease-in-out;
  z-index: 50;
}

.back-home:hover {
  box-shadow: 0 0 30px rgb(191, 191, 191);
}

/* --------------------------------------------------------- */
/* header page */
.header-page {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* logo */
.header-page .logo {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin: 0 auto 0 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-page .logo img {
  width: 100%;
  object-fit: cover;
  display: block;
}

/* parts */
.header-page .parts {
  margin-right: 50px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-page .parts a {
  color: var(--text-color);
  font-size: 700;
  text-shadow: var(--letter-shadow);
  text-decoration: none;
  position: relative;
}

.header-page .parts a::after {
  background-color: #fff;
  content: "";
  width: 0;
  height: 2px;
  border-radius: 10px;
  position: absolute;
  bottom: -3px;
  left: 0;
  transition: width 0.3s ease-in-out;
  transform: translate(-50%, 0%);
  left: 50%;
  display: block;
}

.header-page .parts a:hover::after {
  width: 100%;
}

/* btn bar */
.btn-bar {
  font-size: 1.5rem;
  color: #fff;
  position: absolute;
  right: 20px;
  display: none;
}
.btn-close {
  font-size: 2rem;
  color: #fff;
  margin-left: auto;
  display: none;
}

/* --------------------------------------------------------- */
/* intro */
.intro {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 50;
}

.intro::after {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 21%,
    rgba(0, 0, 0, 0.8464635854341737) 30%,
    rgba(0, 0, 0, 0.7988445378151261) 34%,
    rgba(0, 0, 0, 0.6587885154061625) 38%,
    rgba(0, 0, 0, 0.5943627450980392) 42%,
    rgba(0, 0, 0, 0.5271358543417367) 47%,
    rgba(0, 0, 0, 0.4767156862745098) 52%,
    rgba(0, 0, 0, 0.3562675070028011) 56%,
    rgba(0, 0, 0, 0.2358193277310925) 61%,
    rgba(0, 0, 0, 0) 65%
  );
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: -9;
  user-select: none;
}

.intro .content {
  width: 45%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 75px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
}

.intro .content img {
  width: 50%;
}

.intro .content h1 {
  color: var(--text-color);
  font-size: 3.3rem;
  font-weight: 700;
}

.intro .content p {
  max-width: 65%;
  color: var(--text-color);
  text-align: justify;
  line-height: 30px;
  font-size: var(--size-letter);
}

.intro .img-background {
  float: right;
  width: 80%;
  height: 100%;
  object-fit: contain;
  user-select: none;
  position: relative;
  z-index: -10;
}

/* --------------------------------------------------------- */
/* bắt đầu main */

/* --------------------------------------------------------- */
/* plot */
.plot {
  background-color: black;
  padding: 80px 75px 50px;
}

.plot h2 {
  padding: 0 0 50px;
  color: var(--text-color);
  text-align: center;
  text-shadow: var(--title-shadow);
  font-size: var(--size-title);
  font-weight: 700;
}

.plot .para {
  color: var(--text-color-blur);
  font-size: var(--size-letter);
  line-height: 40px;
  text-align: justify;
  margin-bottom: 20px;
  font-weight: 400;
}

.plot .sub-img {
  width: 20%;
  margin: 20px;
  float: left;
  object-fit: contain;
  overflow: hidden;
}

.plot .sub-img img {
  width: 100%;
  margin: auto;
}
.plot .sub-img:nth-child(2) {
  float: right;
}

/* --------------------------------------------------------- */
/* main characters */
.main-characters {
  background-color: rgb(0, 0, 0);
  padding: 80px 75px 50px;
}

.main-characters h2 {
  padding: 0 0 50px;
  color: var(--text-color);
  text-align: center;
  text-shadow: var(--title-shadow);
  font-size: var(--size-title);
  font-weight: 700;
}

.good-side h3,
.bad-side h3 {
  color: var(--text-color);
  text-shadow: var(--title-shadow);
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 30px;
}

.main-characters .good-side {
  background-image: url(https://images4.alphacoders.com/124/1248329.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  object-fit: contain;
  margin-bottom: 80px;
}

.main-characters .bad-side {
  background-image: url(https://wallpapercave.com/wp/wp5243333.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  object-fit: contain;
}

.main-characters .good-side .coating,
.main-characters .bad-side .coating {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #000000a4;
}

.main-characters .good-side .main,
.main-characters .bad-side .main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
}

.main-characters .good-side .main .main-good,
.main-characters .bad-side .main .main-bad {
  width: calc((100% / 5) - 5px);
  padding: 0 5px;
  margin-bottom: 40px;
  object-fit: contain;
}

.main-characters .good-side .main .main-good img,
.main-characters .bad-side .main .main-bad img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.main-characters .good-side .main .main-good .name,
.main-characters .bad-side .main .main-bad .name {
  color: var(--text-color);
  font-size: var(--size-letter);
  text-align: center;
  text-shadow: var(--letter-shadow);
  font-weight: 700;
}

/* --------------------------------------------------------- */
/* stages */
.stages {
  background-color: black;
  padding: 80px 75px 50px;
}

.stages h2 {
  padding: 0 0 50px;
  color: var(--text-color);
  text-align: center;
  text-shadow: var(--title-shadow);
  font-size: var(--size-title);
  font-weight: 700;
  margin-bottom: 50px;
}

.stages .part {
  margin-bottom: 100px;
}

.stages .part h3 {
  color: var(--text-color);
  text-shadow: var(--title-shadow);
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 30px;
}

.stages .part .content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.stages .part:nth-child(odd) .content {
  flex-direction: row-reverse;
}

.stages .part .content .para {
  width: 60%;
  color: var(--text-color-blur);
  font-size: var(--size-letter);
  line-height: 40px;
  text-align: justify;
  margin-bottom: 20px;
  font-weight: 400;
}

/* --------------------------------------------------------- */
/* fun-fact */
.fun-fact {
  background-color: black;
  padding: 80px 75px 50px;
  position: relative;
}

.fun-fact .coating {
  background-image: url(https://gamek.mediacdn.vn/133514250583805952/2022/3/3/kict3-1646300814761476175791.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  object-fit: contain;
}

.fun-fact h2 {
  padding: 0 0 50px;
  color: var(--text-color);
  text-align: center;
  text-shadow: var(--title-shadow);
  font-size: var(--size-title);
  font-weight: 700;
  margin-bottom: 50px;
}

.fun-fact .content {
  background-color: #000000bd;
  padding: 10px;
}
.fun-fact .content p {
  color: var(--text-color-blur);
  font-size: var(--size-letter);
  line-height: 40px;
  text-align: justify;
  margin-bottom: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}

.fun-fact .content figure {
  margin-bottom: 20px;
}

.fun-fact .content figure img {
  width: 30%;
  margin: 0 auto;
  display: block;
  margin-bottom: 15px;
}
.fun-fact .content figure figcaption {
  color: var(--text-color);
  text-align: center;
  font-size: 0.8rem;
}

/* --------------------------------------------------------- */
/* review */
.review {
  padding: 50px 75px;
  background-color: black;
}

.review h4 {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: var(--title-shadow);
  margin-bottom: 20px;
}

.review .para {
  color: var(--text-color-blur);
  font-size: var(--size-letter);
  line-height: 40px;
  margin-bottom: 30px;
}

.review .para a {
  color: #c5731b;
  text-shadow: 0 0 10px #a13a3a;
  text-decoration: none;
}
.review .para a:hover {
  text-decoration: underline;
}

.review span {
  background-color: #c5731b;
  width: 20%;
  height: 50px;
  padding: 10px;
  border-radius: 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review span a {
  color: var(--text-color);
  text-decoration: none;
}

.review span a:hover {
  text-decoration: underline;
}

/* --------------------------------------------------------- */
/* footer */
footer {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.886) 12%,
    rgba(0, 0, 0, 0.94) 47%,
    rgba(0, 0, 0, 1) 100%
  );
  padding: 50px 57px;
}

footer .ques {
  display: inline-block;
  color: #ebebeb;
  text-decoration: none;
  margin-bottom: 35px;
}

footer a:hover {
  text-decoration: underline;
}

footer ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

footer ul li a {
  color: #ebebeb;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
}

/* --------------------------------------------------------- */
/* responsive */

/*.plot,.main-characters,.stages,.fun-fact, .review,footer    */

@media screen and (max-width: 1399px) {
  /* intro */
  .intro .content img {
    width: 40%;
  }
  .intro .content h1 {
    font-size: 3rem;
  }

  /* plot */
  .plot h2 {
    font-size: 2.5rem;
  }

  .plot .sub-img {
    width: 30%;
    margin: 10px;
  }
  /* main characters */
  .main-characters h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1199px) {
  .plot,
  .main-characters,
  .stages,
  .fun-fact,
  .review,
  footer {
    padding: 50px;
  }
  /* intro */
  .intro .content {
    left: 50px;
  }
  .intro .content h1 {
    font-size: 2.5rem;
  }
  .intro .content p {
    max-width: 70%;
    font-size: 1rem;
  }

  /* main characters */
  .main-characters .good-side .main .main-good,
  .main-characters .bad-side .main .main-bad {
    width: calc((100% / 3) - 5px);
  }
}

@media screen and (max-width: 991px) {
  .plot,
  .main-characters,
  .stages,
  .fun-fact,
  .review,
  footer {
    padding: 30px;
  }

  .header-page .logo {
    width: 90px;
  }
  .intro .content {
    width: 75%;
    left: 30px;
  }
  .intro .content img {
    display: none;
  }
  .intro .content h1 {
    font-size: 2rem;
  }
  .intro .content p {
    max-width: 50%;
  }
  /* các nút đóng mở header */
  .header-page .btn-bar {
    display: block;
  }

  .header-page .btn-close {
    display: block;
  }

  /* thẻ nav */
  .header-page .parts {
    background-color: rgba(0, 0, 0, 0.849);
    width: 50%;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 0;
    transform: translate(-100%, 0);
    transition: all 0.2s ease-in-out;
  }

  .header-page .parts {
    justify-content: left;
    gap: 40px;
  }

  input[id="parts"]:checked ~ .parts {
    transform: translate(0);
  }

  #parts:checked + .btn-bar + .parts {
    display: flex;
  }

  /* main characters */
  .good-side h3,
  .bad-side h3 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 767px) {
  /* header */
  .header-page .logo {
    width: 80px;
  }

  /* intro */
  .intro .content {
    width: 100%;
    gap: 20px;
  }
  .intro .content img {
    width: 25%;
  }
  .intro .content h1 {
    font-size: 1.8rem;
  }
  .intro .content p {
    line-height: 20px;
  }

  /* plot */

  .plot h2 {
    padding-bottom: 40px;
  }
  .plot .sub-img {
    width: 40%;
  }
  /* main characters */
  .main-characters .good-side .main .main-good,
  .main-characters .bad-side .main .main-bad {
    width: calc((100% / 2) - 5px);
  }
  .main-characters .good-side .main .main-good .name,
  .main-characters .bad-side .main .main-bad .name {
    font-size: 1rem;
    font-weight: 400;
  }
}

@media screen and (max-width: 576px) {
  .header-page .logo {
    width: 60px;
  }
  .intro .content {
    gap: 15px;
  }
  .intro .content img {
    width: 18%;
  }
  .intro .content h1 {
    max-width: 70%;
    font-size: 1.3rem;
  }
  .intro .content p {
    font-size: 16px;
    line-height: 15px;
  }

  /* plot */
  .plot .para {
    line-height: 30px;
    font-size: 1rem;
  }
  /* main characters */
  .main-characters .good-side .main .main-good,
  .main-characters .bad-side .main .main-bad {
    width: calc((100% / 1) - 5px);
  }
}

@media screen and (max-width: 435px) {
  .intro .content h1 {
    max-width: 80%;
  }
  .intro .content p {
    max-width: 70%;
    font-size: 12px;
  }
  /* plot */
  .plot h2 {
    padding-bottom: 30px;
    font-size: 1.5rem;
  }
}
